name: Lint

on:
  push:
    paths:
      - '*.js'
      - '**/*.js'
      - '*.md'
      - '**/*.md'
      - '![WIP]/**'
      - '!lab/**'
  pull_request:
    paths:
      - '*.js'
      - '**/*.js'
      - '*.md'
      - '**/*.md'
      - '![WIP]/**'
      - '!lab/**'
  schedule:
    - cron:  '0 0 * * SUN'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint:js

      - name: Run Markdownlint
        run: npm run lint:md
